{% extends "note_app/base.html" %}
{% block content %}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger text-center shadow" role="alert">
                <h4 class="alert-heading">⚠️ Упс, сталася помилка!</h4>
                <p class="mt-3">{{ message }}</p>
                <hr>
                <a href="{% url 'note_app:main' %}" class="btn btn-outline-danger mt-3">
                    ⬅️ Назад на головну
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}