{% extends "base.html" %}

{% block content %}

<div class="container-lg py-4">
    <div class="row">
        <!-- Основна частина -->
        <div class="central-content content-card mx-auto col-md-8">
            <h3 class="mb-4">
                Search by tag:
                <span class="badge bg-primary">{{ tag.name }}</span>
            </h3>

            <!-- Відображення нотаток -->
            {% include 'note_app/partials/note_section.html' %}
        </div>

        <!-- Друга колонка: Top 10 Tags -->
        <div class="col-md-3">
            {% include 'note_app/partials/top_10_tags.html' %}
        </div>
    </div>
</div>
{% endblock %}
