{% extends "contact_app/base.html" %}
{% block content %}

    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete <strong>{{ contact.full_name }}</strong>?</p>
    <form method="post" action="{% url 'contact_app:delete_confirm' contact.pk %}"
          class="d-flex jastify-content-center gap-2 ">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'contact_app:main' %}" class="btn btn-secondary">Cancel</a>
    </form>

{% endblock %}
