<div class="col-md-4">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h5 class="card-title">🏷️ Top 10 tags</h5>
            <ul class="list-group list-group-flush">
                {% for tag in top_tags %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'note_app:notes-by-tag' tag.name %}" class="text-decoration-none"
                           style="font-size: {{ tag.font_size }}px;">
                            {{ tag.name }}
                        </a>
                        <span class="badge bg-secondary rounded-pill">{{ tag.cnt }} note(s)</span>
                    </li>
                {% empty %}
                    <li class="list-group-item text-muted">0 tags</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
