<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Personal Assistant</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">


    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar-theme.css' %}">
    <link rel="stylesheet" href="{% static 'note_app/style.css' %}">
</head>
<body>
    <!-- navigation panel-->
     {% include 'partials/top_navigation.html' %}

    <!-- content  -->
    <main class="container my-4">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    {% load static %}
    <!-- Авто-тема темна/світла -->
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'note_app/note-ui.js' %}"></script>
</body>
</html>